.sidebar {
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}

.shortcut-links img {
  width: 20px;
  margin-right: 20px;
}

.side-links {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: wrap;
  /* flex-wrap: wrap; */
  cursor: pointer;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
}

.subscribed-list {
  font-style: 13px;
  margin: 13px o;
  color: #5a5a5a;
}

.subscribed-list img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.small-sidebar {
  width: 5px;
}

.small-sidebar p {
  display: none;
}

.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50px;
  margin-bottom: 25px;
}
